body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  background-attachment: local;
  justify-content: center;
  
}

a {
  text-decoration: none;
  color: white;
}

.fondo {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-attachment: fixed ;
  position: relative;
  text-align: center;
  padding-top: 500px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #333;
}

.logo {
  max-width: 8rem;
  margin-left: 60px;
}

.barra{
  list-style-type: none;
  display: flex;
  gap: 1rem;

}

.barra li a {
  text-decoration: none;
  color: white;
}

.barra a:hover {
  color: #72ec0f;
}

.abrir, .cerrar {
  display: none;
}


@media screen and (max-width: 480px) {
  .abrir {
      display: block;
      position: absolute;
      top: 20px;
      left: 50px;
      color: white;
      background-color: #333;
      font-size: xx-large;
      width: 50px;
      height: 50px;
      margin-top: -10px;
  
  }
  
  .cerrar {
      display: block;
      font-size: medium;
      color: white;
      background-color: #333;
  }
  
  .abrir, .cerrar {
      border: none;
      cursor: pointer;
  }
  
  .logo {
      position: absolute;
      z-index: 2;
      left: 25%;
      margin-top: -27px;
  }
  .nav {
      opacity: 0;
      visibility: hidden;
  }
  
  .nav {
      display: block;
      position: absolute;
      align-items: center;
      gap: 1rem;
      top: 63px;
      right: 0px;
      bottom: 0;
      background-color: #333;
      padding: 2rem;
      box-shadow: 20px 20px 20px 20px black;
      z-index: 3;
      
  }
  
  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  
  .barra {
      flex-direction: column;
      align-items: end;
  }
  
  .barra li a {
      color: white;
  }
      
  }


form {
    background-color: #333;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 6px 20px 10px black;
    width: 400px;
    height: 400px;
    max-width: 600px;
    margin: 70px auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 80px;
    left: 560px;
    z-index: 1;
  
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .boton {
    background-color: #fff;
    color: #333;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
  }

  .boton:hover {
    background-color: #72ec0f;
}

@media screen and (max-width: 480px) {
  form {
      max-width: 60%;
      left: 16%;
      top: 20px;
      
  }
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  top: 0;

}

.container-footer a {
  padding: 0px 30px 0px 0px;
}

#politicas {
  display: inline-block;
  align-items: center;
  padding: 0px 20px;
  color: white;
}


