body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-attachment: local;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333;
}

.logo {
    max-width: 8rem;
    margin-left: 60px;
}

.barra{
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.barra li a {
    text-decoration: none;
    color: white;
}

.barra a:hover {
    color: #72ec0f;
}

.abrir, .cerrar {
    display: none;
}


@media screen and (max-width: 480px) {
    .abrir {
        display: block;
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;
        background-color: #333;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    
    }
    
    .cerrar {
        display: block;
        font-size: medium;
        color: white;
        background-color: #333;
    }
    
    .abrir, .cerrar {
        border: none;
        cursor: pointer;
    }
    
    .logo {
        position: absolute;
        z-index: 2;
        left: 25%;
        margin-top: -27px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    }
    
    .nav {
        display: block;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 63px;
        right: 0px;
        bottom: 0;
        background-color: #333;
        padding: 2rem;
        box-shadow: 20px 20px 20px 20px black;
        z-index: 3;
        
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    
    .barra {
        flex-direction: column;
        align-items: end;
    }
    
    .barra li a {
        color: white;
    }
        
    }

.aviso {
    position: relative;
    text-align: center;
    color: #333;
    width: 50%;
    left: 25%

}

@media screen and (max-width: 480px){
    .aviso{
        width: 80%;
        left: 60px;
    }
}

#cook {
    color: #333;
}

#cook:hover {
    color: #72ec0f;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    top: 0px;
}

.container-footer a {
    padding: 0px 30px 0px 0px;
}

#politicas {
display: inline-block;
align-items: center;
padding: 0px 20px;
}
