body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-attachment: local;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: white;
}

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    background-attachment: fixed ;
    position: absolute;
    text-align: center;
    padding-top: 2670px;
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 0;
    
}

@media screen and (max-width: 480px){
    .fondo{
        height: auto;
        position: absolute;
        z-index: 0;
    }
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333;
}

.logo {
    max-width: 8rem;
    margin-left: 60px;
}

.barra{
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.barra li a {
    text-decoration: none;
    color: white;
}

.barra a:hover {
    color: #72ec0f;
}

.abrir, .cerrar {
    display: none;
}


@media screen and (max-width: 480px) {
    .abrir {
        display: block;
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;
        background-color: #333;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    
    }
    
    .cerrar {
        display: block;
        font-size: medium;
        color: white;
        background-color: #333;
    }
    
    .abrir, .cerrar {
        border: none;
        cursor: pointer;
    }
    
    .logo {
        position: absolute;
        z-index: 2;
        left: 25%;
        margin-top: -27px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    }
    
    .nav {
        display: block;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 63px;
        right: 0px;
        bottom: 0;
        background-color: #333;
        padding: 2rem;
        box-shadow: 20px 20px 20px 20px black;
        z-index: 3;
        
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    
    .barra {
        flex-direction: column;
        align-items: end;
    }
    
    .barra li a {
        color: white;
    }
        
    }

.container {
    width: 900px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    font-size: larger;
    background-color: white;
    box-shadow: 20px 20px 20px black;

}
.section {
    margin-bottom: 30px;
    
}
.section img {
    width: 80%;
    height: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 20px 20px 20px black;
}

@media screen and (max-width: 480px) {
    .container{
        width: 400px;
        top: 20px;

    }
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;

}

.container-footer a {
    padding: 0px 30px 0px 0px;
}

#politicas {
display: inline-flex;
align-items: center;
display: block;

}

@media  screen and (max-width: 480px) {
    footer{
        top: 145px;
    }
    
}