body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-attachment: local;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: white;
}


.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed ;
    position: relative;
    text-align: center;
    padding-top: 500px;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333;
}

.logo {
    max-width: 8rem;
    margin-left: 40px;
    padding-right: 40px;
}

.barra{
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.barra li a {
    text-decoration: none;
    color: white;
}

.barra a:hover {
    color: #72ec0f;
}

.abrir, .cerrar {
    display: none;
}


@media screen and (max-width: 480px) {
    .abrir {
        display: block;
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;
        background-color: #333;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    
    }
    
    .cerrar {
        display: block;
        font-size: medium;
        color: white;
        background-color: #333;
    }
    
    .abrir, .cerrar {
        border: none;
        cursor: pointer;
    }
    
    .logo {
        position: absolute;
        z-index: 2;
        left: 25%;
        margin-top: -27px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    }
    
    .nav {
        display: block;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 63px;
        right: 0px;
        bottom: 0;
        background-color: #333;
        padding: 2rem;
        box-shadow: 20px 20px 20px 20px black;
        z-index: 3;
        
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    
    .barra {
        flex-direction: column;
        align-items: end;
    }
    
    .barra li a {
        color: white;
    }
        
    }

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed ;
    position: relative;
    text-align: center;
    padding-top: 500px;
    display: block;
    width: 100%;
    
}

.carta {
    padding: 20px;
    box-shadow: 20px 20px 20px #333;
    width: 900px;
    height: 400px;
    max-width: 800px;
    top: 150px;
    left: 265px;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    background-color: white;
    align-items: center;
    text-align: center;
    cursor: pointer;

}

@media screen and (max-width: 480px) {
    .carta {
        left: 20px;
        display: block;
        max-width: 400px;
        font-size: small;
        height: 350px;
        top: 100px;
    }
}


#col1 {
    float: left;
    width: 50%;
    background-color: transparent;
    border-color: transparent;
    
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.menu-item {
    padding-bottom: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 500px;
    height: 300px;
    overflow: hidden;
    height: auto;
}

@media screen and  (max-width: 480px) {
    .modal-content img {
        width: 300px;
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 12.5px 0;
    position: relative;
    top: 0px;

}

.container-footer a {
    padding: 0px 30px 0px 0px;
}

#politicas {
display: inline-flex;
align-items: center;
display: block;

}