body{
margin: 0;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #f7f7f7;
color: #333;
background-attachment: local;
justify-content: center;

}

a {
    text-decoration: none;
    color: white;
}

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed ;
    position: absolute;
    text-align: center;
    padding-top: 1000px;
    display: block;
    width: 100%;
    background-color: transparent;
    z-index: 0;

}

@media screen and (max-width: 480px) {
    .fondo {
        background-repeat: no-repeat;
        background-size: cover;
        height: 1500px;
    }
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333;
}

.logo {
    max-width: 8rem;
    margin-left: 60px;
}

.barra{
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.barra li a {
    text-decoration: none;
    color: white;
}

.barra a:hover {
    color: #72ec0f;
}

.abrir, .cerrar {
    display: none;
}

@media screen and (max-width: 480px) {
    .abrir {
        display: block;
        position: absolute;
        top: 20px;
        left: 50px;
        color: white;
        background-color: #333;
        font-size: xx-large;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    
    }
    
    .cerrar {
        display: block;
        font-size: medium;
        color: white;
        background-color: #333;
    }
    
    .abrir, .cerrar {
        border: none;
        cursor: pointer;
    }
    
    .logo {
        position: absolute;
        z-index: 2;
        left: 25%;
        margin-top: -27px;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    }
    
    .nav {
        display: block;
        position: absolute;
        align-items: center;
        gap: 1rem;
        top: 63px;
        right: 0px;
        bottom: 0;
        background-color: #333;
        padding: 2rem;
        box-shadow: 20px 20px 20px 20px black;
        z-index: 3;
        
    }
    
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    
    .barra {
        flex-direction: column;
        align-items: end;
    }
    
    .barra li a {
        color: white;
    }
        
    }

.menu-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    display: flex;
    position: relative;
    background-color: #f7f7f7;
    left: 120px;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #333;
    width: 1300px;
    box-shadow: 20px 20px 20px black;
    z-index: 1;

}

.menu-item img {
    width: 400px;
    margin-top: 20px;
    margin-left: 20px;
    height: auto;

}

.menu-item p {
    margin-top: 20px;
    text-align: center;
}

.menu-item li {
    list-style-type: none;
}

@media screen and (max-width: 480px) {
    .menu-item {
        display: block;
        max-width: 400px;
        font-size: small;
        left: 40px;
        text-align: center;
        
    }

    .menu-item img {
        max-width: 350px;
        margin-left: 3px;
    }

    .menu-item h1 {
        left: 100px;
    }

}

.boton-reserva {
    border-radius: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    top: 200px;
    left: 800px;
    position: absolute;
}

.boton-reserva:hover {
    background-color: #72ec0f;
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    top: 30px;

}

.container-footer a {
    padding: 0px 30px 0px 0px;
}

#politicas {
display: inline-block;
align-items: center;
display: block;

}