
body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #f7f7f7;
  color: #333;
  background-attachment: local;
  justify-content: center;
  
}

a {
  text-decoration: none;
  color: white;
}

.fondo {
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  background-attachment: fixed ;
  position: absolute;
  text-align: center;
  padding-top: 700px;
  display: block;
  width: 100%;
  background-color: transparent;
  z-index: 0;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #333;
}

.logo {
  max-width: 8rem;
  margin-left: 60px;
}

.barra{
  list-style-type: none;
  display: flex;
  gap: 1rem;

}

.barra li a {
  text-decoration: none;
  color: white;
}

.barra a:hover {
  color: #72ec0f;
}

.abrir, .cerrar {
  display: none;
}


@media screen and (max-width: 480px) {
  .abrir {
      display: block;
      position: absolute;
      top: 20px;
      left: 50px;
      color: white;
      background-color: #333;
      font-size: xx-large;
      width: 50px;
      height: 50px;
      margin-top: -10px;
  
  }
  
  .cerrar {
      display: block;
      font-size: medium;
      color: white;
      background-color: #333;
  }
  
  .abrir, .cerrar {
      border: none;
      cursor: pointer;
  }
  
  .logo {
      position: absolute;
      z-index: 2;
      left: 25%;
      margin-top: -27px;
  }
  .nav {
      opacity: 0;
      visibility: hidden;
  }
  
  .nav {
      display: block;
      position: absolute;
      align-items: center;
      gap: 1rem;
      top: 63px;
      right: 0px;
      bottom: 0;
      background-color: #333;
      padding: 2rem;
      box-shadow: 20px 20px 20px 20px black;
      z-index: 3;
      
  }
  
  .nav.visible {
      opacity: 1;
      visibility: visible;
  }
  
  
  .barra {
      flex-direction: column;
      align-items: end;
  }
  
  .barra li a {
      color: white;
  }
      
  }

form {
  background-color: #333;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  text-align: center;
  color: #fff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: px;
  position: absolute;
  top: 140px;
  left: 470px;
  box-shadow: 20px 10px 20px black;
  overflow: hidden;
  
}


.boton {
  background-color: #fff;
  color: #333;
  border-radius: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: medium;
  position: relative;
  width: 110px;
  height: 40px;
  top: 50px;
  text-align: center;
  

}

.boton:hover {
  background-color: #72ec0f;
  color: #fff;
}


input{
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 8px;
  text-align: center;

}

label {
  display: block;
  margin-bottom: 8px;
  text-align: center;

}

.colum1 {
  float: left;
  width: 50%;
  background-color: transparent;
  border-color: transparent;
  
}

.colum2 {
  float: right;
  width: 50%;
}


@media screen and (max-width: 480px) {
  form {
      max-width: 80%;
      left: 50px;
      align-items: center;
      display: block;
      top: 90px;
      height: 490px;
      
  }

  form input {
    width: 140px;
    padding: 7px;
  }

  .boton {
    top: 30px;
  }

  
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  top: 540px;

}

.container-footer a {
  padding: 0px 30px 0px 0px;
}

#politicas {
display: inline-block;
align-items: center;
display: block;

}
