body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    background-attachment: local;
    justify-content: center;
    
}

a {
    text-decoration: none;
    color: white;
}

.fondo {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed ;
    position: relative;
    text-align: center;
    padding-top: 500px;
    display: block;
    width: 100%;
    background-color: transparent;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #333;
}

.logo {
    max-width: 8rem;
    margin-left: 60px;
}

.barra{
    list-style-type: none;
    display: flex;
    gap: 1rem;

}

.barra li a {
    text-decoration: none;
    color: white;
}

.barra a:hover {
    color: #72ec0f;
}

.abrir, .cerrar {
    display: none;
}


@media screen and (max-width: 480px) {
.abrir {
    display: block;
    position: absolute;
    top: 20px;
    left: 50px;
    color: white;
    background-color: #333;
    font-size: xx-large;
    width: 50px;
    height: 50px;
    margin-top: -10px;

}

.cerrar {
    display: block;
    font-size: medium;
    color: white;
    background-color: #333;
}

.abrir, .cerrar {
    border: none;
    cursor: pointer;
}

.logo {
    position: absolute;
    z-index: 2;
    left: 25%;
    margin-top: -27px;
}
.nav {
    opacity: 0;
    visibility: hidden;
}

.nav {
    display: block;
    position: absolute;
    align-items: center;
    gap: 1rem;
    top: 63px;
    right: 0px;
    bottom: 0;
    background-color: #333;
    padding: 2rem;
    box-shadow: 20px 20px 20px 20px black;
    z-index: 3;
    
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.barra {
    flex-direction: column;
    align-items: end;
}

.barra li a {
    color: white;
}

}


.slider-container {
    max-width:70%;
    overflow: hidden;
    position: absolute;
    top: 150px;
    left: 250px;
    z-index: 1;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    max-width: 800px;
    max-height: 500px;
    height: auto;
    display: flex;
    position: relative;
    left: 120px;
    box-shadow: 20px 20px 20px black;
    top: 10px;
    align-items: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333;
    background-color: transparent;
    border: none;
    padding: 10px;
    outline: none;
}

.prev { left: 10px; }
.next { right: 20px; }

@media screen and (max-width: 480px) {
.slider-container {
    left: -95px;
    max-width: 550px;
    top: 150px;

}

.slide {
    max-width: 200px;
}

.slide img {
    max-width: 450px;
    max-height: 500px;

}

.prev, .next {
    top: 100px;
    background-color: #333;
    color: #f7f7f7;
    
}

.prev {
    left: 130px;
}


}

.cookie-banner {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cookie-banner img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}
.cookie-banner p {
    margin: 0;
}

button {
    border-radius: 5px;
    margin-top: 20px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #72ec0f;
    color: w;

}

footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: relative;
        top: 0px;

}

.container-footer a {
    padding: 0px 30px 0px 0px;
}

#politicas {
    display: inline-block;
    align-items: center;
    display: block;
    
}




